body {
	padding-left: 80px;
	padding-right: 80px;
}

h1, h2, h3 {
	color: purple;
	font-size: 16pt;
	text-align: center;
}

p {
	font-weight: bold;
	text-align: center;
	color: black;
	font-size: 14pt;
}

