html, body {
    min-width: 800px;
    height: 1000px;
}

header{
    color: #59008e;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 8px;
    text-align: center;
    
    background:	#ebebeb;
    margin: 20px;
    line-height: 18px;
    /*border:0px;*/
}

headersmall{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 10px;
}


colorlist{
    color: #59008e;
    color: #ebebeb;
    color: #c4c4c4;
    color: #7d0000;
    
}
